.comment-board {
  width: 100%;
  font-family: "Times New Roman", serif;
}


/* Tiêu đề */
.comment-title {
  text-align: center;
  font-size: 28px;
  color: red;
  font-weight: bold;
  margin: 0 0 15px 0;
}


/* Một dòng nhận xét */
.comment-row {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  align-items: flex-start;
}


/* chữ ĐIỂM MẠNH - ĐIỂM YẾU */
.label {
  width: 125px;
  flex-shrink: 0;

  font-size: 24px;
  font-weight: bold;
  color: green;

  line-height: 35px;
}


/* khu vực dòng chấm */
.comment-lines {
  flex: 1;
}


/* từng hàng */
.comment-line {
  height: 35px;
  line-height: 35px;

  font-size: 20px;

  border-bottom: 2px dotted #8dc7ff;
}

.comment-unit-name {
  font-weight: 700;
  color: #1d4ed8;
}
